//Переменные
@tablet-width: 660px;
@desktop-width: 1200px;

//Миксины
.reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

//Общие стили
.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 320px;
}

.triangle {
  width: 100%;
  height: 100%;
}

@media (min-width: @tablet-width) {
  .container {
    width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 1200px;
  }
}

