.features {
  padding-bottom: 370px;
  background-color: #f2f2f2;
  &__title-wrapper {
    padding-top: 35px;
    background-color: #ffffff;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 34px;
    text-align: center;
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 300;
    color: #283645;
  }
  &__title-triangle {
    width: 100%;
    height: 100%;
  }
  &__list {
    margin: 0;
    margin-top: -31px;
    padding: 0;
    padding-top: 27px;
    background-color: #f2f2f2;
  }
}
