.os {
  padding-top: 32px;
  &__list {
    .reset-list();
    display: flex;
    padding-bottom: 22px;
    justify-content: space-around;
    align-items: center;
  }
  &__text {
    margin: 0;
  }
}
