.os {
  padding-top: 32px;
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    padding-bottom: 22px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  &__text {
    margin: 0;
  }
}
