.page-content {
  overflow: hidden;
  font-family: @Open_Sans-font-var;
  &__intro {
    height: 324px;
    margin-top: -71px;
    padding-top: 100px;
    background-color: #1d2631;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    &--index {
      background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
      background-repeat: no-repeat;
      background-position: bottom left, top left;
    }
  }
  &__header {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
  }
  &__get-app {
    background-color: #1d2631;
  }
  &__features {
    background-color: #ffffff;
  }
}
