.reviews__list {
  .reset-list();
}

.reviews__item {
  text-align: center;
}

.reviews__author {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.reviews__container {
  margin-left: 22px;
  margin-right: 22px;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

