.tariffs {
  padding-top: 30px;
  padding-bottom: 30px;
}

.tariffs__list {
  .reset-list();
}

.tariffs__item--functions {
  display: none;
}

.tariffs__name-wrapper {
  background-color: #283645;
}

.tariffs__name {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.tariffs__price {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
}

.tariffs__function {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

@media (min-width: @tablet-width) {
  .tariffs__name {
    font-size: 16px;
  }

  .tariffs__price {
    font-size: 18px;
  }

  .tariffs__list {
    display: flex;
  }

  .tariffs__name-wrapper--right {
    border-left: 3px solid #e7e7e7;
  }

  .tariffs__name-wrapper--middle {
    border-left: 3px solid #e7e7e7;
  }

  .tariffs__item--functions {
    display: block;
    align-self: flex-end;
  }

  .tariffs__function-wrapper {
    height: 45px;
    border: 3px solid #e7e7e7;
    border-top: none;
    border-right: none;
    background-color: #ffffff;
  }

  .tariffs__function-wrapper--top-left {
    border-top: 3px solid #e7e7e7;
  }

  .tariffs__function-wrapper--right-column {
    border-right: 3px solid #e7e7e7;
  }

  .tariffs__function {
    display: none;
  }

  .tariffs__function--visible {
    display: inline;
  }

  .tariffs__toggles {
    display: none;
  }
}
