.contacts {
  padding-top: 43px;
  background-color: white;
}

.contacts__title {
  margin: 0;
  margin-bottom: 37px;
  text-align: center;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 300;
  color: #283645;
}

.contacts__intro {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 21.6px;
  font-weight: bold;
  color: #283645;
}

.contacts__wrapper {
  padding-bottom: 43px;
}

.contacts__text {
  margin: 0;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--email {
    padding-left: 4px;
    margin-bottom: 26px;
  }

  &--address {
    margin: 0;
  }
}

.contacts__info {
  text-align: center;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 300;
  text-decoration: none;
  color: #d22856;

  &--email {
    position: relative;

    &:hover,
    &:focus {
      color: #283645;
      text-decoration: underline;
    }

    &:active {
      color: #283645;
      text-decoration: none;
      opacity: 0.3;
    }
  }
}

.contacts__map-wrapper {
  position: relative;
  height: 197px;
  overflow: hidden;
  background-color: black;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 4;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left top;
  }
}

.contacts__map {
  position: absolute;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, 0);
  z-index: 3;
}

.contacts__map-marker {
  position: absolute;
  left: 50%;
  bottom: 35%;
  transform: translate(-50%, 0);
  z-index: 2;
}

.contacts__map-fallback {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding-top: 45px;
  }

  .contacts__wrapper {
    display: flex;
    padding-top: 10px;
    padding-bottom: 30px;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .contacts__title {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 40px;
    line-height: 48px;
  }

  .contacts__text {
    width: 318px;
    margin-bottom: 49px;

    &--address {
      margin-bottom: 0;
    }
  }

  .contacts__intro {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 21.6px;

    .contacts__text--email & {
      margin-bottom: 6px;
    }

    .contacts__text--address & {
      margin-bottom: 7px;
    }
  }

  .contacts__map-wrapper {
    height: 375px;
  }

  .contacts__map-fallback {
    bottom: -108px;
  }

  .contacts__map-marker {
    bottom: 39%;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    padding-top: 65px;
  }

  .contacts__wrapper {
    padding-bottom: 12px;
  }

  .contacts__title {
    margin-bottom: 47px;
    padding-left: 130px;
    padding-right: 130px;
    font-size: 50px;
    line-height: 60px;
  }

  .contacts__intro {
    margin-bottom: 25px;
    padding-left: 2px;
  }

  .contacts__text {
    margin-bottom: 0;

    &--address {
      order: 2;

      .contacts__intro {
        margin-bottom: 25px;
      }
    }

    &--email {
      order: 3;

      .contacts__intro {
        margin-bottom: 27px;
      }
    }
  }

  .contacts__map-wrapper {
    height: 513px;
  }

  .contacts__map-marker {
    bottom: 40%;
  }

  .contacts__map-fallback {
    bottom: -196px;
  }
}
