.copyright {
  display: flex;
  width: 160px;
  justify-content: flex-end;
}

.copyright__text {
  margin-right: 15px;
  padding-top: 3px;
  align-self: center;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
}

.copyright__link {
  align-self: flex-end;

  &:hover path,
  &:focus path {
    fill: #283645;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .copyright__text {
    margin-right: 14px;
    font-size: 18px;
  }

}
