.effect__wrapper {
  position: relative;
  padding-top: 96px;
  padding-left: 329px;
  padding-right: 20px;
  padding-bottom: 83px;


  &::before {
    box-sizing: border-box;
    position: absolute;
    padding-top: 84px;
    left: 20px;
    top: 60px;
    content: "24";
    width: 240px;
    height: 276px;
    font-size: 96px;
    font-weight: bold;
    text-align: center;
    color: #d22856;
    background-image: url("../../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: 240px auto;
  }
}

.effect__header {
  margin: 0;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.effect__text {
  margin: 0;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.effect__link {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #d22856;
}

@media (min-width: @desktop-width) {
  .effect__header {
    font-size: 30px;
    line-height: 30px;
  }

  .effect__text {
    font-size: 18px;
    line-height: 30px;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
  }
}
