.effect {
  padding-left: 310px;
}

.effect__header {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.effect__text {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.effect__link {
  font-size: 14px;
  line-height: 24px;
  color: #d22856;
}

@media (min-width: @desktop-width) {
  .effect {
    background-color: #f2f2f2;
  }

  .effect__header {
    font-size: 30px;
    line-height: 30px;
  }

  .effect__text {
    font-size: 18px;
    line-height: 30px;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
  }
}
