.effect__wrapper {
  position: relative;
  padding-top: 96px;
  padding-left: 329px;
  padding-right: 20px;
  padding-bottom: 83px;


  &::before {
    box-sizing: border-box;
    position: absolute;
    left: 20px;
    top: 60px;
    content: "24";
    width: 240px;
    height: 276px;
    padding-top: 84px;
    font-size: 96px;
    font-weight: bold;
    text-align: center;
    color: #d22856;
    background-image: url("../../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: 240px auto;
  }
}

.effect__header {
  margin: 0;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.effect__text {
  margin: 0;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.effect__br-desktop {
  display: none;
}

.effect__link {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #d22856;

  &:hover,
  &:focus {
    color: #283645;
    text-decoration: underline;
  }

  &:active {
    color: #283645;
    text-decoration: none;
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .effect__wrapper {
    padding-top: 125px;
    padding-left: 376px;
    padding-right: 20px;
    padding-bottom: 113px;

    &::before {
      left: 9px;
      top: 30px;
      width: 300px;
      height: 350px;
      padding-top: 96px;
      font-size: 120px;
      line-height: 187px;
      background-size: 300px auto;
    }
  }

  .effect__br-tablet {
    display: none;
  }

  .effect__br-desktop {
    display: inline;
  }

  .effect__header {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 30px;
  }

  .effect__text {
    margin-bottom: 31px;
    font-size: 18px;
    line-height: 30px;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
  }
}
