.features__title-wrapper {
  padding-top: 41px;
  padding-bottom: 2px;
  background-color: #ffffff;
}

.features__title {
  margin-top: 0;
  margin-bottom: 31px;
  text-align: center;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 300;
  color: #283645;
}

.features__list-wrapper {
  position: static;
  width: auto;
  background-color: #f2f2f2;
  background-image: url("../../img/bg-triangle-white.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

.features__list {
  .reset-list();
  width: 320px;
  margin: 0 auto;
  padding-top: 81px;
  padding-bottom: 330px;
  background-image: url("../../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media (min-width: @tablet-width) {
  .features {
    padding-bottom: 0;
    background-image: none;
  }

  .features__title {
    font-size: 40px;
    line-height: 48px;
  }

  .features__list {
    padding-left: 310px;
    background-image: url("../../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: left center;
  }
}

@media (min-width: @desktop-width) {
  .features__list {
    display: flex;
    padding: 30px;
    background-image: none;
  }
}
