.get-app {
  padding: 28px 20px 30px;
  text-align: center;
}

.get-app__slogan {
  display: none;
}

.get-app__btn {
  color: #ffffff;
  border-color: #ffffff;

  &:hover,
  &:focus {
    color: #d22856;
    background-color: #ffffff;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3)
  }
}

.get-app__os {
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .get-app {
    width: 320px;
  }

  .get-app__slogan {
    display: inline;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    color: #ffffff;
  }
}

@media (min-width: @desktop-width) {
  .get-app {
    display: flex;
    flex-direction: column;
  }

  .get-app__slogan {
    font-size: 50px;
    line-height: 60px;
  }
}
