.get-app {
  text-align: center;
}

.get-app__intro {
  position: relative;
  height: 462px;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: top left;

  &::after {
    position: absolute;
    content: "";
    width: 258px;
    height: 286px;
    bottom: 0;
    left: 0;
    background-image: url("../../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
  }
}

.get-app__container {
  padding: 28px 20px 30px 20px;
}

.get-app__slogan {
  display: none;
}

.get-app__btn {

  color: #ffffff;
  border-color: #ffffff;

  &:hover,
  &:focus {
    color: #d22856;
    background-color: #ffffff;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.get-app__os {
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .get-app {
    width: 320px;
  }

  .get-app__slogan {
    display: inline;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    color: #ffffff;
  }
}

@media (min-width: @desktop-width) {
  .get-app {
    display: flex;
    flex-direction: column;
  }

  .get-app__slogan {
    font-size: 50px;
    line-height: 60px;
  }
}

