.likes-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.likes-block__btn {
  margin-right: 19px;
}


.likes-block__quantity {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856;
}

@media (min-width: @tablet-width) {
  .likes-block {
    display: flex;
    justify-content: space-between;
  }

  .likes-block__quantity {
    margin-right: 18px;
    order: 1;
  }

  .likes-block__btn {
    margin-right: 5px;
    order: 2;
  }
}
