.main-form {
  padding: 40px 20px;
}

.main-form__instruction {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.main-form__instruction span {
  display: none;
}

.main-form__block {
  padding: 0;
  border: none;
  background-color: #ffffff;

  &--achievments,
  &--apps {
    background-color: #f2f2f2;
  }
}

.main-form__fieldset {
  padding: 0;
  border: none;
}

.main-form__list {
  .reset-list();
}

.main-form__label {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;

  &--radio-check {
    font-size: 18px;
    color: #283645;
    text-transform: none;
  }
}

.main-form__input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  border: 2px solid #e5e5e5;
  border-radius: 2px;

  &:hover {
    border-color: #283645;
    outline: none;
  }

  &:focus {
    border-color: #d22856;
    outline: none;
  }
}

.main-form__required-legend {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.main-form__legend-asterisk {
  color: #d22856;
}

.main-form__label--contacts,
.main-form__label--impressions {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-form {
    display: flex;
    flex-direction: column;
  }

  .main-form__instruction {
    margin: 0;
    font-size: 18px;
  }

  .main-form__instruction span {
    display: inline;
  }

  .main-form__item {
    &--name {
      display: flex;
    }
  }

  .main-form__input {
    &--name {
      flex-grow: 1;
    }
  }

  .main-form__block {
    &--name {
      order: 1;
    }

    &--contacts {
      order: 3;
    }

    &--achievments {
      background-color: #ffffff;
      order: 4;
    }

    &--apps {
      background-color: #ffffff;
      order: 2;
    }

    &--impressions {
      order: 5;
    }

    &--submit {
      display: flex;
      justify-content: space-between;
      order: 6;
      border: none;
    }
  }

  .main-form__fieldset {
    border: 2px solid #e5e5e5;

    &--name {
      border: none;
    }
  }

  .main-form__label--contacts,
  .main-form__label--impressions {
    display: block;
  }

  .main-form__label--mobile {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-form {
    padding: 40px 120px;
  }

  .main-form__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .main-form__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &--name,
    &--apps {
      width: 50%;
    }

    &--contacts,
    &--achievments,
    &--impressions,
    &--submit {
      width: 100%;
    }
  }

  .main-form__fieldset {
    width: 100%;
    padding: 40px 60px;
  }

  .main-form__list {
    width: 100%;

    &--contacts {
      display: flex;
    }

    &--achievments {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .main-form__item {
    &--contacts {
      display: flex;
      width: 100%;
      flex-direction: column-reverse;
    }

    &--achievments {
      width: 260px;
    }
  }

  .main-form__input--impressions {
    width: 820px;
    height: 130px;
  }
}
