.os {
  padding-top: 32px;
}

.os__list {
  .reset-list();
  display: flex;
  padding-left: 37px;
  padding-right: 38px;
  margin-bottom: 16px;
  justify-content: flex-start;
  align-items: flex-end;
}

.os__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
}

.os__item {
  &--apple {
    margin-right: 35px;
  }

  &--android {
    margin-right: 37px;
  }
}

.os__link {
  &--android svg {
    padding-bottom: 2px;
  }

  &--win svg {
    padding-bottom: 3px;
  }
}

@media (min-width: @tablet-width) {
  .os__text {
    font-size: 18px;
    font-weight: 300;
  }
}

@media (min-width: @desktop-width) {
  .os__text {
    font-size: 18px;
  }
}
