.page-footer {
  background-color: #ffffff;
  padding-top: 40px;

  &--index-moblie {
    display: none;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page-footer__link-main {
  margin-bottom: 38px;
  font-size: 0;
}

.page-footer__logo {
  &--desktop {
    display: none;
  }

  &--link {
    color: #283645;
    cursor: pointer;

    &:hover,
    &:focus {
      color: #d22856;
    }

    &:active {
      color: #283645;
      opacity: 0.3;
    }
  }
}

.page-footer__social-wrapper {
  margin-bottom: 40px;
  padding-left: 25px;
}

.page-footer__copyright {
  padding-right: 32px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding-top: 27px;
    padding-bottom: 37px;

    &--index-moblie {
      display: block;
    }
  }

  .page-footer__wrapper {
    flex-direction: row;
    padding: 0 20px 0 20px;
  }

  .page-footer__link-main {
    margin-bottom: 0;
    margin-right: 75px;
  }

  .page-footer__logo {
    width: 147px;
    height: auto;
    padding-bottom: 7px;

    &--index {
      margin-bottom: 0;
      margin-right: 75px;
    }
  }

  .page-footer__social-wrapper {
    padding: 0;
    padding-top: 8px;
    margin-bottom: 0;
    margin-right: 36px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-top: 70px;
  }

  .page-footer__wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .page-footer__link-main {
    margin-right: 235px;
  }

  .page-footer__logo {
    display: none;

    &--desktop {
      display: block;
      align-self: flex-start;
    }

    &--index {
      margin-right: 235px;
    }
  }

  .page-footer__social-wrapper {
    padding-top: 2px;
    margin-right: 196px;
  }
}
