.page-footer {
  background-color: #ffffff;

  &--index-moblie {
    display: none;
  }
}

.page-footer__logo:hover .page-footer__logo-letter,
.page-footer__logo:focus .page-footer__logo-letter {
  fill: #d22856;
}

.page-footer__logo:active {
  opacity: 0.3;
}

.page-footer__logo:active .page-footer__logo-letter {
  fill: #283645;
}

@media (min-width: @tablet-width) {
  .page-footer {
    &--index-moblie {
      display: block;
    }
  }

  .page-footer__wrapper {
    display: flex;
    padding: 36px 20px 51px 20px;
  }

  .page-footer__logo {
    margin-right: 76px;
  }

  .page-footer__social-wrapper {
    margin-right: 36px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 45px;
  }

  .page-footer__logo {
    margin-right: 235px;
  }

  .page-footer__social-wrapper {
    padding-top: 2px;
    margin-right: 200px;
  }
}
