.page-footer {
  background-color: #ffffff;

  &--index-moblie {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    &--index-moblie {
      display: block;
    }
  }

  .page-footer__wrapper {
    display: flex;
    padding: 36px 20px 51px 20px;
  }

  .page-footer__logo {
    margin-right: 76px;
  }

  .page-footer__social-wrapper {
    margin-right: 36px;
  }
}
