.popup {
  display: block;
  position: fixed;
  padding-top: 40px;
  width: 320px;
  z-index: 20;
  text-align: center;
  background-color: #ffffff;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 1px;
    z-index: -1;
    box-shadow: 0 2px 6px 2px #dbdbdb;
  }

  &--error {
    padding-bottom: 50px;
  }
}

.popup__wrapper {
  width: 320px;
}

.popup__header {
  margin: 0;
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.popup__text {
  margin: 0;
  margin-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  font-size: 14px;
  line-height: 24px;
  color: #283645;

  &--error {
    padding-bottom: 0;
    margin-bottom: 40px;
  }
}

.popup__btn-wrapper {
  padding-top: 48px;
  padding-bottom: 52px;
  background-color: #f2f2f2;
}

@media (min-width: @tablet-width) {
  .popup {
    width: 461px;
  }
}
