.upload {
  padding: 20px;
}

@media (min-width: @tablet-width) {
  .upload__form {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .upload__btns-wrapper {
    display: flex;
  }
}
