.user-photos__intro-text {
  padding: 45px 35px 49px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.user-photos__list {
  .reset-list;
  padding: 0 20px;
}

.user-photos__item {
  position: relative;
  margin-bottom: 20px;
  background-color: #f2f2f2;

  &--photo-of-day::before {
    content: "Панорама дня";
    position: absolute;
    top: 0;
    right: 0;
    width: 140px;
    padding: 6px 0;
    font-size: 12px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #d22856;
  }
}

.user-photos__link {
  font-size: 0;
}

.user-photos__photo {
  display: block;
  font-size: 0;
}

.user-photos__photo--panorama-of-day {
  display: block;
  width: 100vw;
  margin-left: calc(~"-50vw + 140px");
  margin-right: calc(~"-50vw + 160px");
}

.user-photos__outro {
  width: 320px;
  padding-top: 23px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

@media (min-width: @tablet-width) {
  .user-photos__intro-text {
    padding: 93px 50px 75px;
    font-size: 18px;
  }

  .user-photos__list {
    display: flex;
    width: calc(100% + 20px);
    margin: 0 -10px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .user-photos__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    margin: 0 10px 20px;

    &--photo-of-day {
      width: 620px;
      margin-bottom: 50px;
      padding: 0;

      &::before {
        top: 57px;
      }
    }
  }

  .user-photos__photo {
    //Временная высота
    height: 300px;

    &--panorama-of-day {
      display: block;
      width: 100vw;
      margin-left: calc(~"-50vw + 310px");
      margin-right: calc(~"-50vw + 330px");
    }
  }

  .user-photos__outro {
    width: 660px;
    padding-top: 45px;
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .user-photos__intro-text {
    padding: 92px 160px 89px;
  }

  .user-photos__list {
    box-sizing: border-box;
    width: 960px;
    margin: 0;
    padding: 0;
  }

  .user-photos__item {
    margin: 0 10px;
    margin-bottom: 54px;

    &--photo-of-day {
      width: 940px;
      margin-bottom: 25px;

      &::before {
        top: 53px;
      }
    }
  }

  .user-photos__commentary {
    &--photo-of-day {
      margin-left: 130px;
      margin-right: 130px;
      padding-bottom: 49px;
    }
  }

  .user-photos__photo {
    //Временная высота
    height: 400px;

    &--panorama-of-day {
      //Временная высота
      height: 505px;
      //Временная высота
      margin-left: calc(~"-50vw + 470px");
      margin-right: calc(~"-50vw + 480px");
    }
  }

  .user-photos__outro {
    padding-top: 5px;
  }
}


